* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: #222;
}

body {
    background-color: #E0EFFA;
}

/*#section {
    background-color: green;
}*/

.section {
    display: grid;
    grid-template-columns: auto;
    gap: .50rem;
    align-items: center;
    background: rgb(0, 255, 234);
    /*margin: auto auto auto auto;*/
    /*margin : 0 auto 0; /*comprend haut, puis gauche droite et bas*/
    /*margin : auto;/*
    /*margin : 0 auto le 0 c'est haut-bas et la seconde valeur droite gauche*/

}


/*margin = exterieur   padding intérieur de la card */

.card {
    background: #FFF;
    margin : 100px auto 10px ;
    width: 1057px;
    /*height: 847px;*/    
    padding: 30px 20px 20px 30px;
    border: 1px solid #FFF;
    border-radius: 30px;
    box-shadow: 2px 4px 5px 0px rgba(34, 34, 34, 0.40);
}

h1, h2 {
    /*font-weight:bolder;*/
    font-weight: 700;
    margin-bottom: 21px;
    
}

h1 {
    font-size: 40px;   
}

h2 {
    font-size: 30px;
    margin-top: 30px;
}

.second_hdeux {
    margin-bottom: 22px;
}

h3 {
    font-size: 26px;
    font-weight: 500;  
    margin-top: 28px;
    margin-bottom: 22px;
}

p {
    font-weight: 300;
}

a { 
    color: inherit; 
}

ol, ul {   
    font-weight: 300;
}

li {
    margin-left: 30.4px;

}

.enumeration {
    width: 421.57px; 
    margin-bottom: 15px;
    /*margin-left: 16.13px;*/
    font-weight: 300;
}

.enumeration_deux{
    width: 453.476px; 
    margin-top: 15px;
    margin-bottom: 30px;
    /*margin-left: 16.13px;*/
    margin-right: 613.12px;
    height: 57px;
    }

.puce {
    /*margin-left: 20.54px;/**/
    margin-bottom: 30px;
}

.bloc_retreci {
    padding-right: 160px;
    width: 1018.49px;
}

.bloc_retreci_deux {
    padding-right: 10px;
    width: 1018.49px;
}

.dernier_paragraphe {
    margin-bottom: 15px;
}

.souligne {
    text-decoration: underline;    
}



/*main {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

div.boxe {

    width: 600px;
    height: 100px;
}*/

/*main.box {
    background-clip: border-box;
    border-radius: 100px;
}*/

/*.paragra-phe {
    /*margin-right: 210px;
}*/

/*li {
    margin-left: 40.54px;
}*/